<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Prestigious University of Kuestionable Erudition</title>
<!-- Link to CSS here -->
</head>
<body>
    <div id="pageHeader">
        <a href="index.html"><div id="pukeLogo"></div></a>
    </div>
    </div>
    <div class="headerImage" id="headerImageHome"></div>
    <nav class="sideMenu">
        <!-- Include menu here -->
    </nav>
    <div id="articleArea">
    <article>
        <!-- Include content here -->
    </article>
    </div>
</body>
</html>

