
**/__pycache__/**
**/.cache/**
.*.swp
out/**

# The following files are ignored because their content depend on the
# website being designed/built
website.cfg

# The content folder contains private information
# and hence should not be included in the git history
# To protect against .gitignore lines starting with '!',
# this should be the last line of the ".gitignore" file
/content/**

